body {
	background: #070506 url('../img/main-bg.png') center center/cover no-repeat;
	background-attachment: fixed;
		font-family: 'Roboto',sans-serif;
}

@font-face {
	font-family: 'ProximaNova-Black';

	src:
		local('ProximaNova-Black'),
		url('https://nomail.com.ua/files/eot/317d5480a545edf076e02aacd21f434f.eot?#iefix') format('embedded-opentype'),
		url('https://nomail.com.ua/files/woff/317d5480a545edf076e02aacd21f434f.woff') format('woff'),
		url('https://nomail.com.ua/files/woff2/317d5480a545edf076e02aacd21f434f.woff2') format('woff2');
}

*, *:after, *::before {
	box-sizing: border-box;
}

.header {
	padding-top: 90px;
	display: flex;
	align-items: center;
	margin-bottom: 86px;
}

.continer {
	max-width: 1060px;
	margin: auto;
}

.list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	margin-right: 70px;
}

.list-item:not(:last-child) {
	margin-right: 15px;
}
.list-item__link{
	color: #ffffff;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

.hero__title {
	font-family: 'Proxima Nova', sans-serif;
	font-style: normal;
	font-size: 40px;
	color:#ffffff;
	margin-bottom: 5px;
}

.hero__subtitle {
	font-size: 64px;
	color: #FFFFFF;
	font-family: 'Proxima Nova', sans-serif;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 40px;
}

.hero__description {
	font-size: 18px;
	color: #AFAFAF;
	width: 572px;
	margin-bottom: 25px;
}

.hero__premiere{
	display: block;
	color: #B02000;
	padding: 25px;
	font-size: 18px;
	padding: 0;
	margin-bottom: 5px;	

}

.hero__date {
	display: block;
	margin: 0;
	font-size: 24px;
	color: #ffffff;
}

.button__play {
	display: inline-block;
	background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
	border-radius: 300px;
	padding: 25px 87px 25px 34px;
	position: relative;
	border: none;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 54px;	
	text-decoration: none;
}

.button__play::after {
	content: '';
	display: block;
	position: absolute;
	width: 65px;
	height: 65px;
	background: #fff url('../img/play.svg') center top 13.5px no-repeat;
	right: 0;
	top: 0;
	border-radius: 50%;
}
	
.button__play::before {
	content: '';
	display: block;
	position: absolute;
	width: 81px;
	height: 81px;
	right: -8px;
	top: -8px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
}

.episodes {
	color: #fff;
	padding: 60px 0;
}

.slider {
	display: flex;
	flex-wrap: wrap;
}

.slider__item {
	position: relative;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: space-between;
	width: 250px;
	min-height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 30px;
	background: linear-gradient(0deg, rgba(80, 80, 80, 0.86), rgba(80, 80, 80, 0.86));
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}

.slider__item:hover {
	background: linear-gradient(0deg, rgba(64, 101, 255, 0.86), rgba(64, 101, 255, 0.86));
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
}


.slider__image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.slider__rating-label {
	margin-right: 12px;
}

.star {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url('../img/star.svg') no-repeat center;
}

.star-o {
	background: url('../img/star-o.svg') no-repeat center;
}

.slider__nav--left {
	width: 32px;
	height: 32px;
	background: transparent url('../img/left-arrow.svg') no-repeat center;
	border:none;


}

.slider__nav--right {
	width: 32px;
	height: 32px;
	background: transparent url('../img/right-arrow.svg') no-repeat center;
	border:none;
	margin-left: 15.51px;
}

.slider__nav--left span,
.slider__nav--right span {
	display: none;
}